astroid==2.3.3
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
feedparser==6.0.1
idna==2.9
isort==4.3.21
jedi==0.16.0
kitchen==1.2.6
lazy-object-proxy==1.4.3
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.19.2
oauthlib==3.1.0
pandas==1.1.2
parso==0.6.2
pipdeptree==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.7.4
pylint==2.4.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-oauthlib==1.3.0
rope==0.16.0
rsa==4.7
sgmllib3k==1.0.0
six==1.15.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
uritemplate==3.0.1
urllib3==1.25.9
wrapt==1.11.2
