name: run

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  update:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - name: Checkout codes
      uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install system dependencies
      run: sudo apt install jq curl
    - name: Cache python dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install python dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Get previous rss_database.csv
      env:
        GITHUB_REPO: ${{ github.repository }}
      run: |
        while ! [ -f rss_database.zip ]; do \
            curl -L -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              $(curl  -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/$GITHUB_REPO/actions/artifacts\?page\=1\&per_page\=1 \
              | jq -r .artifacts\[0\].archive_download_url) -o rss_database.zip; \
        done
    - name: Run code
      env:
        CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: |
        python main.py
    - name: Upload rss_database.csv
      uses: actions/upload-artifact@v2
      with:
        name: rss_database
        path: rss_database.csv

